@include aoa-bg-series($bg__init,$classes_init);
div[class*="-s1 "]{
    background-color: #ddd;
    background-blend-mode: multiply!important;
}

.about{
    &-s2{
        background-position: top right!important;
    }
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.faq{
    &-s2,&-s4{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            background-position: top right !important;
        }
    }
    .diversity{
        &-s1,&-s2,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            background-position: top right !important;
        }
    }
    .faq{
        &-s1,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            background-position: top right !important;
        }
    }
    .contact,.index,.team{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            background-position: top right !important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color: #fff !important;
            }
            background-color: #666!important;
            border: 1px solid #333;
            opacity: 0.9;
        }
    }
}