$prefix: "../../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__diversity-img: 
    $prefix+"img/diversity/diversity-s1.jpg",
    $prefix+"img/diversity/diversity-s2.jpg",
    $prefix+"img/diversity/diversity-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__faq-img: 
    $prefix+"img/faq/faq-s1.jpg",
    $prefix+"img/faq/faq-s2.jpg",
    $prefix+"img/faq/faq-s3.jpg",
    $prefix+"img/faq/faq-s4.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__team-img: $prefix+"img/team/team-s1.jpg";
$bg__init:
    "about",
    "comingsoon",
    "contact",
    "diversity",
    "error",
    "faq",
    "index",
    "login",
    "privacy",
    "team";
$classes_init:
    $bg__about-img, 
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__diversity-img,
    $bg__error-img,
    $bg__faq-img,
    $bg__index-img,
    $bg__login-img,
    $bg__privacy-img,
    $bg__team-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;